<h1 id="title" class="title">Login</h1>
<p class="sub-title">Hello! Log in with your email.</p>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>
<nb-stepper #loginStepper linear orientation="horizontal">
  <nb-step [stepControl]="phoneForm" label="Credentials">
    <form #phoneForm="ngForm" class="step-container">
      <div class="form-control-group">
        <label class="label" for="input-phone">Phone No.:</label>
        <input nbInput
               fullWidth
               [(ngModel)]="businessModel.phone"
               name="phone"
               #phone="ngModel"
               pattern="^\d{10}$"
               id="input-phone"
               autofocus
               type="text"
               placeholder="Phone No."
               class="form-control"
               [status]="phone.dirty ? (phone.invalid  ? 'danger' : 'success') : ''"
               required>
        <ng-container *ngIf="phone.invalid && phone.touched">
          <p class="error-message" *ngIf="phone.errors?.required">
            This field is required!
          </p>
          <p class="error-message" *ngIf="phone.errors?.pattern">
            Please enter a valid 10-digit phone number.
          </p>
        </ng-container>
      </div>
      <button nbButton
          fullWidth
          status="success"
          type="submit"
          (click)="request()"
          [disabled]="submitted || !phoneForm.valid"
          [class.btn-pulse]="submitted">next</button>
    </form>
  </nb-step>
  
  <nb-step [stepControl]="otpForm" label="Verification">
    <form #otpForm="ngForm" class="step-container">
      <div class="form-control-group">
        <label class="label" for="input-otp">OTP.:</label>
        <input nbInput
               fullWidth
               [(ngModel)]="businessModel.otp"
               name="otp"
               #otp="ngModel"
               id="input-otp"
               pattern="^\d*$"
               type="text"
               placeholder="Enter OTP"
               class="form-control"
               [status]="otp.dirty ? (otp.invalid  ? 'danger' : 'success') : ''"
               required>
        <ng-container *ngIf="otp.invalid && otp.touched">
          <p class="error-message" *ngIf="otp.errors?.required">
            This field is required!
          </p>
          <p class="error-message" *ngIf="otp.errors?.pattern">
            Please enter a valid OTP.
          </p>
        </ng-container>
      </div>
      <button nbButton
          fullWidth
          status="success"
          type="submit"
          (click)="login()"
          [disabled]="submitted || !otpForm.valid"
          [class.btn-pulse]="submitted">next</button>
    </form>
  </nb-step>
</nb-stepper>

<section *ngIf="socialLinks && socialLinks.length > 0" class="links" aria-label="Social sign in">
  or enter with:
  <div class="socials">
    <ng-container *ngFor="let socialLink of socialLinks">
      <a *ngIf="socialLink.link"
         [routerLink]="socialLink.link"
         [attr.target]="socialLink.target"
         [attr.class]="socialLink.icon"
         [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
      <a *ngIf="socialLink.url"
         [attr.href]="socialLink.url"
         [attr.target]="socialLink.target"
         [attr.class]="socialLink.icon"
         [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
    </ng-container>
  </div>
</section>

<section class="another-action" aria-label="Register">
  Don't have an account? <a class="text-link" routerLink="../register">Register</a>
</section>